body{
	background-color:#f4f4f4;
	color:#000;
	font-family:Ariel,Helvetica, sans-serif;
	font-size:16px;
	line-height:1.6em;
	margin:0;
}

.container{
	width:80%;
	margin:auto;
	overflow:hidden;
}

#main-header{
	background-color:#39A3A8;
	color:#fff;
}

#navbar{
	background-color:#194366;
	color:#fff;	
}

#navbar ul{
	padding:0;
	list-style:none;
}

#navbar li{
	
	display:inline;
}

#navbar a{
	color:#fff;
	text-decoration:none;
	font-size:18px;
	padding-right:15px;
}

#showcase{

	background-image:url('sea.jpg');
	background-position:center right;
	min-height:300px;
	background-repeat:no-repeat;
	background-position: 40% 50%;
	margin-bottom:30px;
	text-align:center;
}

#showcase h1{
	color:#fff;
	font-size:30px;
	line-height:1.6em;
	padding-top:30px;	

}

#main{
	float:left;
	width:70%;
	padding:0 30px;
	box-sizing:border-box;	
}

#sidebar{
	float:right;
	width:30%;
	background:#333;
	color:#fff;
	padding-top:10px;
	box-sizing:border-box;	
}

#main-footer{
	background:#1f7a7a;
	text-align:center;
	padding:20px;
	margin-top:40px;
}

@media(max-width:600px){
	#main{
		width:100;
		float:none;
	}

	#sidebar{
		width:100;
		float:none;
	}
}